@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: white;
}

p {
  font-family: "System UI", sans-serif;
}

h1 {
  font-family: "System UI", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
